@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.fatface {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



/* Custom CSS for the sliding underline */
.underline-animation {
  position: relative;
  display: inline-block;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}








/* index.css or another global stylesheet */
.slide-container {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}


